<div>
  
<div id="dbs">
<div class="zerogrid"> 

<!--<div class="content">&nbsp;</div>-->

<div class="contentmain">
<div class="quest_box">
<div class="oneplan">
<div class="onetext"><strong>Finally ……. that’s it</strong><br><br>Your family's net annual expenses in INR (Deduct your own personal expenses incurred in traveling, clothing, food, income tax from the total expenses incurred annually today).
This is the amount your family would need to maintain their life style, in the unfortunate event of you not being there.
Disposable income to invest in long term savings on annual basis<br><br>
<span id="netExp"></span>
<span class="formmin"><input name="txtName" type="number" class="inpute_text" id="netField"  value="" size="5" maxlength="220" required placeholder="Net Expense" /></span></div>

<div class="onetext">Disposable income to invest in long term savings on annual basis<br><br>
<span class="formmin1">
<select id="txtCity01" name="txtCity" class="inpute_text03">
<option value="">Select..</option>
<option value="0">Up to INR 200,000 Annually</option>
<option value="1">INR 200,000 - 500,000 Annually</option>
<option value="2">INR 500,000 - 10,00,000 Annually</option>
<option value="3">Over INR 10,00,000</option>
<option value="4">Lumpsum Investment</option>
</select></span></div>
</div>
</div>

<div class="onebutton1"><a routerLink="/customerquestions">< Previous </a></div>
<div class="onebutton2"><a (click)="getMyPlan()">See My Plan > </a></div> 

</div>

</div>
</div>





  <div id="loader"></div>
 
</div>